/* Add custom styles here for this page */
main{
    display: flex;
}
.left_side{
    width: 100%;
    height:fit-content;
    padding: 15px;
}
input{
    margin-bottom: 20px;
}
.right_side{
    width: 100%;
    height:fit-content;
    border-radius: 20px ;
    background-color: var(--md-sys-color-tertiary-container);
    padding: 15px;
}